---
import Layout from '~/layouts/PageLayout.astro';


import HeroAnimation from '~/components/widgets/HeroAnimation.astro';
//import Note from '~/components/widgets/Note.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import '~/assets/styles/presentation.css';
import mepicture from '~/assets/images/me_photo.png';

const metadata = {
  title: 'Andy Poplas\' Portfolio',
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <section>
    <HeroAnimation>
    </HeroAnimation>
  </section>

  <!-- Note Widget ******************* -->

  <!--<Note /> -->

  <!-- Content Widget **************** -->
  <Content
    isReversed
    items={[
      {
        title: 'I actively work in',
        description:
          '<ul class="presentation-list text-muted mt-3 ml-2" style="list-style:inside; columns:2;">\
            <li>Graphic Design</li>\
            <li>UI/UX</li>\
            <li>Web Development</li>\
            <li>Video Editing</li>\
          </ul>',
        icon: 'dynamicSet-1',
      },
      {
        title: 'While I\'m also interested in many others things',
        description:
          '<ul class="presentation-list text-muted mt-3 ml-2" style="list-style:inside; columns:2;">\
            <li>3D Modeling</li>\
            <li>Game Design & Development</li>\
            <li>Music</li>\
            <li>...</li>\
          </ul>',
        icon: 'dynamicSet-2',  
      },
    ]}
    image={{
      src: mepicture,
      alt: 'Picture of Andy',
      draggable: 'false'
    }}
    classes={{
      container: "max-w-5xl",
      imageClasses: "flex items-center"
    }}
  >
  
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">A Swiss knife in creating content</h3>
       <span class="dark:text-muted">As a creative who's interested in different media and fields, I'm always on the lookout for even more!</span>
    </Fragment>

    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-color-grayishOrange dark:bg-transparent"></div>
    </Fragment> -->
  </Content>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Recent Projects"
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Me',
        href: '/contact',
        icon: 'tabler:mail',
        iconClass: 'mr-1 ml-0',
        buttonClass: 'flex-row-reverse',
      },
    ]}
  >
    <Fragment slot="title">
      Don’t hesitate to contact me!
    </Fragment>

    <Fragment slot="subtitle">
      If you have any questions or inquiries, I’ll be happy to answer them! You’re welcome to contact me on any social platform or by e-mail <a href="mailto:andi.poplas@gmail.com" class="color-primary hover:underline">andi.poplas@gmail.com</a>.
    </Fragment>
  </CallToAction>
</Layout>
