---
import type { Post } from '~/types';
import DynamicShowcase from '~/components/blog/DynamicShowcase.astro';
import '~/assets/styles/dynamicPosts.css';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class="mb-12 md:mb-20">
        <DynamicShowcase post={post} />
      </li>
    ))
  }
</ul>
