/* Colors */
.color-primary{
    color: var(--aw-color-primary);
}
.color-secondary{
    color: var(--aw-color-secondary);
}
.color-accent{
    color: var(--aw-color-accent);
}
.color-white{
    color: rgba(255,255,255,1)
}
.color-black{
    color: var(--aw-color-text-heading);
}
.color-black-60{
    color: rgba(25, 25, 25, 0.6);
}
.color-text-default{
    color: var(--aw-color-text-default);
}
.color-text-muted{
    color:#757575;
}
.bg-color-primary{
    background-color: var(--aw-color-primary);
}
.bg-color-secondary{
    background-color: var(--aw-color-secondary);
}
.bg-color-accent{
    background-color: var(--aw-color-accent);
}
.bg-color-secondary-white{
    background-color: var(--aw-color-bg-secondary-white);
}
.bg-color-grayishOrange{
    background-color: rgba(246, 246, 243, 1);
}
.bg-color-white-10{
    background-color: rgba(255,255,255,0.1);
}
.border-gray-20{
    border: 1px solid rgba(107,114,128,0.2);
}
/* Text */
.text-handwritten{
    font-family: 'Caveat Variable', sans-serif;;
}
/* Buttons */
.btn-primary,.btn-secondary,.btn-tertiary{
    border-radius: 0.5rem;
}

/* States */
.hover\:bg-grayishOrange-100:hover{
    --tw-bg-opacity: 1;
    background-color: rgba(246, 246, 243, var(--tw-bg-opacity));
}
:is(:where(.dark) .dark\:hover\:bg-grayishOrange-10:hover){
    --tw-bg-opacity: 0.1;
    background-color: rgba(246, 246, 243, var(--tw-bg-opacity));
}
:is(:where(.dark) .icons-inverted){
    color: rgba(255,255,255,1);
    background-color: var(--aw-color-accent);
}
:is(:where(.dark) .dark\:focus\:ring-gray-700:focus){
    --tw-ring-color: rgba(255,255,255,0.8);
}
.focus\:ring-gray-200:focus{
    --tw-ring-color: rgba(107,114,128,0.2);
}
:is(:where(.dark) .dark\:color-black){
    color: rgb(25, 25, 25);
}
:is(:where(.dark) .dark\:color-black-60){
    color: rgba(25, 25, 25, 0.6);
}
:is(:where(.dark) .dark\:bg-color-white-10){
    background-color: rgba(255,255,255,0.1);
}
:is(:where(.dark) .dark\:border-gray-20){
    border: 1px solid rgba(107,114,128,0.2);
}

footer>div:first-child{
    background-color: var(--aw-color-bg-secondary-white);
    border-top-color: rgba(25,25,25,0.05);
}
.dark footer{
    border-top-color: rgba(107,114,128,0.2);
}
.dark footer>div:first-child{
    background-color: rgba(25,25,25,0.2);
    border-top-color: rgba(107,114,128,0.2);
}