.dynamicPost:hover{
    transform: scale(1.03,1.03);
    transition: transform 0.5s;
}
.dynamicPost:hover .pictureOverlay{
    opacity: 1;
    transition: opacity 0.5s;
}
.dynamicPost .pictureOverlay{
    transition: opacity 0.5s;
    opacity: 0;
}
:is(:where(.dark) .dark\:color-black){
    color: rgb(25, 25, 25);
}
:is(:where(.dark) .dark\:color-black-60){
    color: rgba(25, 25, 25, 0.6);
}