---
import { Icon } from "astro-icon/components";


---
<div id="formSuccess" class="flex-col justify-center text-center min-h-96 hidden">
    <div class="justify-center">
        <Icon name="tabler:circle-check" class="w-12 h-12 mx-auto color-primary"></Icon>
    </div>
    <div class="align-center mt-5">
        <span class="font-bold text-xl">Thank you for your message <span id="sender_name">Name</span>!</span>
        <p class="mt-2">Your message has succesfully been sent. <br/> I'll try to read and respond as soon as possible!</p>
    </div>
</div>